body{
    font-size: 16px;
    line-height: 30px;
    }

    h1 {
        color: orange;
        font-family: sans-serif;
        text-align: center;
        font-weight: 65px;
    }

    p{
        font-weight: 600;
        font-size: 3em;
        text-align: center;
    }

    .lista {
        background-color: rgb(131, 204, 238);
        padding: 20px;
    }

    .interna{
        font-size: 20px;
    }

    #primeiro{
        background-color: yellow;
    }

    #segundo{
        background-color: red;
    }

    #terceiro{
        background-color: brown;
    }
</style>